body {
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.container {
  width: 60vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 9px 0px;
  position: relative;
  list-style: none;
}

.container div {
  width: 90%;
  height: 4rem;
  border-radius: 0.2rem;
  background-color: white;
  font-size: 2rem;
  display: flex;
  cursor: pointer;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
